<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-horizontal stats">
            <div class="form-group">
                <label for="Strength" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Str:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Strength" type="number" class="form-control" id="strengthInput">
                </div>
            </div>
            <div class="form-group">
                <label for="Dexterity" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Dex:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Dexterity" type="number" class="form-control" id="strengthInput">
                </div>
            </div>
            <div class="form-group">
                <label for="Constitution" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Con:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Constitution" type="number" class="form-control" id="constitutionInput">
                </div>
            </div>
            <div class="form-group">
                <label for="Intelligence" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Int:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Intelligence" type="number" class="form-control" id="intelligenceInput">
                </div>
            </div>
            <div class="form-group">
                <label for="Wisdom" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Wis:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Wisdom" type="number" class="form-control" id="wisdomInput">
                </div>
            </div>
            <div class="form-group">
                <label for="Charisma" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Cha:</label>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input [(ngModel)]="stats.Charisma" type="number" class="form-control" id="charismaInput">
                </div>
            </div>
        </div>
    </div>
</div>
