<div class="container-fluid">
    <div class="row">
        <div class=" pull-right paddingBottom10">
            <ul class="nav nav-pills">
                <li role="presentation" routerLinkActive="active"><a routerLink="welcome">Welcome</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="demographics">Demographics</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="items">Items</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="armors">Armors</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="weapons">Weapons</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="admin">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="no-float">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>