<div class="container-fluid">
    <div class="row">
        <div class=" pull-right">
            <ul class="nav nav-pills">
                <li role="presentation" routerLinkActive="active"><a routerLink="home">Home</a></li>
                <li role="presentation" routerLinkActive="active"><a routerLink="admin">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="no-float">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>