<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-float">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/demographics']">Demographics</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/items']">Items</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/deities']">Deities</a></li>
                <li role="presentation" [routerLinkActive]="['active']"><a [routerLink]="['/admin']">Admin</a></li>
            </ul>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-float">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>